.row { 
  position: relative;
  z-index: 0;
  background-color: $darken-1;
  justify-content: space-evenly;
  padding: 6rem 2rem;
  display: flex;

  @media only screen and(max-width:$middle){
    flex-wrap: wrap;
  }

  @media only screen and(max-width:$phone){
    padding: 2rem 0;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &--flex-r {
    flex-direction: row;

    @media only screen and(max-width:$phone){
      flex-direction: column;
      align-items: center;
    }
  }

  &--flex-c {
    flex-direction: column;
  }
}