

.sidebar { 
  overflow-x: auto;
  min-height: 100%;
  width: 30rem;
  background-color: $brighten-2;
  color: $text-color-dark;

  @media only screen and(max-width:$phone){
    display: none;
  }

  &__heading { 
    padding: 1rem;
    background-color: $darken-1;
    font-weight: 300;
    font-size: 2rem; 
  }

  &__list {  
    padding: 1rem;
  }

  &__item {  
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $darken-2;
  }
  
  &__item-tier-1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__item-heading {  
    line-height: 1;
    font-size: 1.6rem;
    text-indent: 5px;
  }

  &__arrow-box {
    margin-right: 2rem;
    height: 1.8rem;
    width: 1.8rem;
    padding: 3px;
    cursor: pointer; 

    transition: $transition-1;

    &:hover {
      transform: rotate(90deg);
    }
  }
  
  &__arrow {
    background-color: $darken-1;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }

  &__sub-cat-box {  
    height: 0rem;
    overflow: hidden;
    transition: $transition-1;
  
  }

  &__sub-cat-list {
    
  }

  &__sub-cat-item { 
    padding: 4px;
    font-size: 1.4rem;
    text-indent: 2rem;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}


              