.single-image-display {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  
  
  display: flex;
  flex-direction: column;
  
  @media only screen and (max-width:$middle){
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  &__featured {background-color: #fff;
    width: 100%;
    border: 1px solid $darken-2;

    & *{
      width:100%;
    }
  }
  
}



