.single-media { 
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__video-frame { 
    width: 80rem;
    height: 60rem;

    display: flex;

    @media only screen and (max-width:$big){
      width: 60rem;
      height: 45rem;
    }

    @media only screen and (max-width:$phone){
      width: 100%;
      height: 100%;
    }
    
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }

  &__video {
    flex: 1;
  }
}