
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  line-height: 1.6;
}

body {
  color: $text-color-dark;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

a {
  color: $link-color-light;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

h3 {
  font-weight: 300;
  letter-spacing: 1px;

  @media only screen and (max-width:$phone){
    font-weight: 400;
  }
}

p {
  font-size: 1.6rem;
}

a {
  color: $link-color-dark;
}