.card-lg { 
  overflow: hidden;
  width: 72rem;
  height: 52rem;
  border-radius: $bor-rad-lg;
  background-color: $darken-1;
  box-shadow: $shadow;
  border: 1px solid $darken-1;

  @media only screen and(max-width:$big){
    width: 45%;
  }

  @media only screen and(max-width:$middle){
    width: 90%;
  }

  &:not(:last-child){
    margin-bottom: 4rem;
  }
  
  & h3 { 
    background-color: $darken-2;
    position: relative;
    padding: 1.5rem;
    font-size: 2.6rem;
    text-align: center;
    color: $text-color-light;
    border: 1px solid $darken-1;
    text-shadow: $text-shadow;
  }
  
  &__see-all {
    display: none;
  }
  
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 2rem 1rem;
  }

  &__link { 
    display: flex;
    width: 22%;
    margin-bottom: 1.5rem;

    @media only screen and(max-width:$phone){
      width: 40%;
    }
  }
  
  &__img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    background-color: $brighten-2;
    border-radius: $bor-rad-sm;
    cursor: pointer;

    &:hover{
      transform: scale(1.05);
      filter: brightness(150%);
      box-shadow: $shadow-sm;
    }
  }

  &__img { 
    width: 100%;
    margin: 0 auto;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    margin-bottom: 5px;
    fill: $color-prim-dark;
  }

  &__icon-label {
    font-size: 1.4rem;
  }
}