.page-breadcrumb {  
  grid-column: 1 / -1;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  
  background-color: $brighten-2;
  border-radius: 100px;
  box-shadow: $shadow-sm;

  &__viewport { 
    overflow: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  &__list {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    background-color: $darken-1;
    min-width: max-content;

    @media only screen and (max-width:$phone){
      padding: 1rem 2rem;
    }
  }

  &__item { 
    display: flex;
    font-size: 1.8rem;

    & span { 
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 2rem;
      line-height: 1;
    }
  }

  &__item-text{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding-right: 1rem;
  }
  &__pages-list { 
   // background-color: orange;

    display: flex;
    justify-content: center;
    padding: 1rem;
    transform: translate(-1rem);
  }

  &__pages-heading {
    margin-right: 3rem;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__page-arrow-link { 
    background-color: $darken-1;
    padding: 0 1rem;
    border-radius: 5rem;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__page-arrow { 
    // background-color: pink;
    font-size: 2.4rem;
    line-height: 1;
    color: $color-black
  }

  &__pages-item { 
    display: block;
    // background-color: blue;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__page-num-link { color: $color-black;
    // background-color: red;
    padding: 0 4px;
    font-size: 1.8rem;
  }
}