.page-card { 
  overflow: hidden;
  background-color: $brighten-2;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: $bor-rad-sm;
  box-sizing: border-box;
  max-width: 30rem;
  border:1px solid $darken-1;
  box-shadow: $shadow-sm;

  @media only screen and (max-width:$middle){
    max-width: 25rem;
    padding: .5rem;
  }

  @media only screen and (max-width:$phone){
    max-width: 26rem;
    padding: 1.5rem;
  }

  &__heading { 
    margin: -2rem;
    padding: 1rem;
    font-size: 2rem;
    background-color: $darken-1;
    font-weight: 300;

    @media only screen and (max-width:$middle){
      margin: -.5rem;
    }

    @media only screen and (max-width:$phone){
      margin: -1.5rem;
    }
  }

  &__img-box {
    margin-top: 4rem;
  }

  &__img { 
    width: 100%;
  }

  &__price { 
    
  }

  &__rating {
    display: flex;
    margin-top: 2rem;
  }

  &__number { 
    font-size: 1.8rem;
    margin-right: 10px;

    @media only screen and (max-width:$phone){
      margin-right: 5px;
    }
  }

  &__icon-box { 
    display: flex;
    align-items: center;
  }

  &__icon { 
    height: 2rem;
    width: 2rem;
    fill: $color-prim-light;

    &:not(:last-child) {
      margin-right: 3px;

      @media only screen and (max-width:$phone){
        margin-right: 2px;
      }
    }
  }

  &__buy-link { 
    width: 80%;
    margin: 2rem auto 1rem;
    padding: 5px;
    background-color: $color-prim-light;
    font-size: 2rem;text-align: center;
    color: $text-color-light;
    border-radius: 10rem;
    box-shadow: $shadow-sm;
    border:1px solid $darken-1;

    transition: $transition-1;

    &:hover {
      transform: scale(1.04);
      box-shadow: $shadow;
      filter: brightness(110%);
    }

    &:active {
      box-shadow: $shadow-sm;
    }
  }
}